.navbar {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr; 
    justify-content: space-around; 
    align-items: center; 
    background-color: rgb(229, 240, 238); 
    padding: 10px;
    width:100%;
    position: fixed;
    height: 6rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .logo {
    grid-column: 1/2;
    justify-content:start;
    position: fixed;
  }

  .menu{
   
    display:grid;
    grid-column: 1/3;
    justify-content: space-around;
    
   
  }

  .hamburger{
   
    display:grid;
    grid-column: 3/4;
    
   
  }

 .navbar ul{
    display:flex;
    justify-content: space-around;
    list-style:none;
    gap: 40px;
    
  }

    @media (max-width:998px) {
      .navbar ul{
        display: none;
        grid-template-columns: 2fr 1fr 2fr ;
        
      }
    
      .mobile-menu ul{
       display:flex;
       flex-direction: column;
       padding: 10px;
       list-style: none;
       margin-top: 4rem;
       width: 200px;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
      .mobile-menu {
        margin-top: 4rem;
        margin-left:100%;
        width: 200px;
        
       }
     
       
      .menu {
        display: none; 
      }
      
    }
  
    @media (min-width:998px) {
      .hamburger{
        display:none;
        
      }
    }
    
  

  